<section class="home clearfix">
	<h1>Welcome to Coupon Clone</h1>
	<p>This simple Sinatra CRUD app demonstrates basic ERB templating, simple (and admittedly insecure) Sinatra-based file uploads, and a pleasant-enough seafoam green responsive design.</p>
	<p>Enjoy!</p>
	<a class="button button--primary" href="/coupons">Get all coupons</a>
	<a class="button" href="/coupons/new">Add a coupon</a>
</section>
